In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import Accuracy
import matplotlib.pyplot as plt

In [2]:
bank_df = pd.read_csv("Loan_default.csv")

In [3]:
# bank_df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [4]:
# bank_df.shape

(255347, 18)

In [5]:
# bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   LoanID          255347 non-null  object
 1   Age             255347 non-null  int64
 2   Income          255347 non-null  int64
 3   LoanAmount      255347 non-null  int64
 4   CreditScore     255347 non-null  int64
 5   MonthsEmployed  255347 non-null  int64
 6   NumCreditLines  255347 non-null  int64
 7   InterestRate    255347 non-null  float64
 8   LoanTerm        255347 non-null  int64
 9   DTIRatio        255347 non-null  float64
 10  Education       255347 non-null  object
 11  EmploymentType  255347 non-null  object
 12  MaritalStatus   255347 non-null  object
 13  HasMortgage     255347 non-null  object
 14  HasDependents   255347 non-null  object
 15  LoanPurpose     255347 non-null  object
 16  HasCoSigner     255347 non-null  object
 17  Default         255347 non-null  int64
dtypes: float64(2), int64(8), object(8)
memory usage: 35.1+ MB

In [6]:
bank_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,255347.0,43.498306,14.990258,18.0,31.00,43.00,56.00,69.0
Income,255347.0,82499.304597,38963.013729,15000.0,48825.50,82466.00,116219.00,149999.0
LoanAmount,255347.0,127578.865512,70840.706142,5000.0,66156.00,127556.00,188985.00,249999.0
CreditScore,255347.0,574.264346,158.903867,300.0,437.00,574.00,712.00,849.0
MonthsEmployed,255347.0,59.541976,34.643376,0.0,30.00,60.00,90.00,119.0
NumCreditLines,255347.0,2.501036,1.117018,1.0,2.00,2.00,3.00,4.0
InterestRate,255347.0,13.492773,6.636443,2.0,7.77,13.46,19.25,25.0
LoanTerm,255347.0,36.025894,16.969330,12.0,24.00,36.00,48.00,60.0
DTIRatio,255347.0,0.500212,0.230917,0.1,0.30,0.50,0.70,0.9
Default,255347.0,0.116128,0.320379,0.0,0.00,0.00,0.00,1.0

In [7]:
bank_df.isnull().sum()

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [8]:
avg_age = bank_df["Age"].mean()
print ("The average age of this dataset is {:.1f}.".format(avg_age))

The average age of this dataset is 43.5.

In [9]:
bank_df.insert(0,'#',range(len(bank_df)))
bank_df.head()

,#,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [10]:
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
# Importing the train_test_learn module
from sklearn.model_selection import train_test_split

In [11]:
#Separate the y variable, the labes
y = bank_df['Default']
y.head()

0    0
1    0
2    1
3    0
4    0
Name: Default, dtype: int64

In [12]:
y.value_counts()

Default
0    225694
1     29653
Name: count, dtype: int64

In [13]:
X = bank_df.drop(columns=['Default','LoanID','Education', 'EmploymentType', 'MaritalStatus', 'LoanPurpose', 'HasMortgage', 'HasDependents', 'HasCoSigner'])
X.head()

,#,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio
0,0,56,85994,50587,520,80,4,15.23,36,0.44
1,1,69,50432,124440,458,15,1,4.81,60,0.68
2,2,46,84208,129188,451,26,3,21.17,24,0.31
3,3,32,31713,44799,743,0,3,7.07,24,0.23
4,4,60,20437,9139,633,8,4,6.51,48,0.73

In [14]:
# Assign a random_state of # to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [15]:
# LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

# Fit the model using training data
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [16]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

        Prediction  Actual
92126            0       0
16806            0       0
21082            0       1
186988           0       0
33613            0       0
...            ...     ...
188490           0       0
85888            0       0
24127            0       0
151520           0       0
93997            0       0

[63837 rows x 2 columns]

In [17]:
# Print the balanced_accuracy score of the model
print(f"The balanced accuracy score of the model is: {balanced_accuracy_score(y_test, predictions)}")

The balanced accuracy score of the model is: 0.5

In [18]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, predictions)

array([[56424,     0],
       [ 7413,     0]])

In [19]:
# Print the classification report for the model
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     56424
           1       0.00      0.00      0.00      7413

    accuracy                           0.88     63837
   macro avg       0.44      0.50      0.47     63837
weighted avg       0.78      0.88      0.83     63837

/Users/admin/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/admin/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/admin/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [20]:
%pip install imblearn

Requirement already satisfied: imblearn in /Users/admin/anaconda3/lib/python3.11/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/admin/anaconda3/lib/python3.11/site-packages (from imblearn) (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/admin/anaconda3/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in /Users/admin/anaconda3/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.11.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/admin/anaconda3/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /Users/admin/anaconda3/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/admin/anaconda3/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros_model = RandomOverSampler(random_state = 1)

# Fit the original training data to the random_oversampler model
X_oversampled, y_oversampled = ros_model.fit_resample(X_train, y_train)

In [22]:
# Count the distinct values of the resampled labels data
y_oversampled.value_counts()

Default
0    169270
1    169270
Name: count, dtype: int64

In [23]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier_oversampled = LogisticRegression(solver='lbfgs', random_state=1)
# classifier_oversampled

# Fit the model using the resampled training data
classifier_oversampled.fit(X_oversampled, y_oversampled)

# Make a prediction using the testing data
predictions_oversampled = classifier_oversampled.predict(X_oversampled)
pd.DataFrame({"Predictions": predictions_oversampled, "Actual": y_oversampled})

        Predictions  Actual
0                 0       0
1                 0       0
2                 0       0
3                 0       0
4                 0       0
...             ...     ...
338535            1       1
338536            0       1
338537            0       1
338538            1       1
338539            1       1

[338540 rows x 2 columns]

In [24]:
# Print the balanced_accuracy score of the model 
print(f"The balanced accuracy score of the model is: {balanced_accuracy_score(y_oversampled, predictions_oversampled)}")

The balanced accuracy score of the model is: 0.6464051515330538

In [25]:
# Generate a confusion matrix for the model
confusion_matrix(y_oversampled, predictions_oversampled)

array([[113076,  56194],
       [ 63512, 105758]])

In [26]:
# Print the classification report for the model
print(classification_report(y_oversampled, predictions_oversampled))

              precision    recall  f1-score   support

           0       0.64      0.67      0.65    169270
           1       0.65      0.62      0.64    169270

    accuracy                           0.65    338540
   macro avg       0.65      0.65      0.65    338540
weighted avg       0.65      0.65      0.65    338540